* {
  box-sizing: border-box;
  font-family: Montserrat;
  list-style-type: none;
  text-decoration: none;
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.app{
  font-family: 'Montserrat';
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    max-width: 1440px;
    padding-left: 100px;
    padding-right: 100px;
    
}