#Dispo {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding-top: 20px; 
    margin: 0 auto;
    width: 100%; 
}

#logo {
    width: auto; 
    max-height: 68px; 
}

#NavBar {
    display: flex;
    align-items: center; /* Centrer les items verticalement */
}

#NavBar ul {
    display: flex;
    flex-direction: row; /* Assurer que la liste est en ligne */
    padding: 0;
    margin: 0;
    list-style: none;
}

#NavBar li {
    margin: 0 10px;
}

#NavBar a {
    font-size: 24px;
    color: black;
    text-decoration: none;
}

#NavBar a.active {
    text-decoration: underline; /* Souligne le lien actif */
}

@media (max-width: 768px) {
    #Dispo {
        flex-direction: column; 
        gap: 20px; /* Ajuster l'espace entre les éléments pour les petits écrans */
    }

    #logo {
        max-width: 60%; 
        max-height: 46px;
    }

    #NavBar ul {
        flex-direction: column; /* Assurer que la liste est en colonne pour les petits écrans */
    }

    #NavBar li {
        margin: 10px 0;
    }
}