.tags {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  background-color: #FF6060;
  color: white;
  padding: 5px 10px;
  margin-bottom: 15px;
  margin-right: 10px;
  border-radius: 10px;
  font-size: 0.9rem;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.tag:hover {
  background-color: #e74c3c;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
}


@media (max-width: 768px) {

  .tag{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.7rem;
  }



}
