#dispo {
    background-color: black;
    color: white;
    height: 209px;
    
}
#ensembleDispo{
    padding-top: 66px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 29px;
}
#logoFooterSize{
    width: 122px;
    height: auto;
}
@media (max-width:768px)  {
    
}