#dispo {
    background-color: black;
    color: white;
    height: 209px;
     margin-left: -120px;
    margin-right: -120px;
}
#ensembleDispo{
    padding-top: 66px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 29px;
}
#logoFooterSize{
    width: 122px;
    height: auto;
}
@media (max-width:768px)  {
#dispo{
    margin-bottom: -10px;
    margin-left: -25px;
    margin-right: -25px;
}
}