#card{
    display: flex;
    align-items: flex-end;  
    justify-content: flex-start; 
    background-color: #FF6060;
    color: white; 
    width: 340px; 
    height: 340px; 
    margin: 10px;
    border-radius: 8px; 
    font-size:  18px; ;
    font-family: Montserrat;
}
@media (max-width:768px)  {
    
}