.collapse-container {
    margin: 10px auto;
    width: 100%;
    padding: 0px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    max-width: 1035px;
    overflow: hidden;
}

.collapse-header {
    padding: 10px;
    text-align: left;
    background-color: #FF6060;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    font-family: Montserrat;
    font-size: 24px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collapse-content {
    padding: 0 20px;
    background-color: #F6F6F6;
    width: 100%;
    border-radius: 10px;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
}

.collapse-content.open {
    height: auto;
}

.chevron-container {
    transition: transform 0.3s ease;
}

.arrow {
    transform-origin: center;
    transition: transform 0.3s ease;
}

.arrow.rotate {
    transform: rotateZ(-180deg) scaleX(-1);
}
@media (max-width:768px)  {
   
}
@media (max-width:500px)  {
   
    .collapse-header {
        font-size: 15px;
        padding: 8px 18px;
    }
    .collapse-content {
        font-size: 14px;
    }
    .collapse-container {
        padding: 0;

    }

    }

