.apart-info {
   
    font-family: Monserrat;
  }
  
  .apart-title {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 0;
    
  }
  
  .apart-location {
    font-size: 18x;
    font-weight: 500;
    margin-top: 0;
    color: black;
    
}
@media (max-width: 768px) {

  .apart-location{
    padding: 0;
    margin: 0;
  }
  .apart-title{
    font-size: 24px;
  }
}
